<div>
  <div>
    Welcome to SubHub! Track all your subscriptions and subscription spending in
    one place.
  </div>
  <div>
    Your Subscriptions:
  </div>
  <button>
    <a class="nav-link" href="/createSubscription">Create New Subscription</a>
  </button>
  {{! iterate over each subscription IF the user_id of the subscription matches id of authenticated user}}
  {{#each subscriptions.subscriptions as |subscript|}}
    <div>
      <div>
        <p>Name: {{subscript.subscription_name}}</p>
        <p>Spend: {{subscript.spend}}</p>
        <p>Usage: {{subscript.usage}} hrs per week</p>
        <p>Renewal Date:{{subscript.renewal_date}}</p>
      </div>
      <button
        class="btn btn-sm btn-primary"
        data-update={{sub.id}}
        data-toggle="modal"
        data-target="#updateModal"
        id="first-update"
      >Update</button>
      <button class="btn btn-sm btn-danger" data-id="{{sub.id}}">Delete</button>
    </div>

  {{/each}}

  <div id="charts">
    <canvas id="myChart"></canvas>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./js/createChart.js"></script>